<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agriculture</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">    
    <link rel="stylesheet" href="../styles/agriculture.css">
    <script src="https://kit.fontawesome.com/b841f6948a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">

        <!-- Navigation -->
        <div class="row mt-1 bg-white pb-4">

            <div class="col-2 mt-5">
                <a href="index.html">
                    <i class="fa fa-arrow-circle-left primaryColor fa-3x" aria-hidden="true"></i>
                </a>
            </div>

            <div class="col-2 mt-5">
                <img class="logo mt-1" src="../assets/shep.png" alt="">
            </div>

            <div class="col-2 mt-5">
                <h3 class="fw-bolder">Agriculture</h3>
            </div>

            <div class="col offset-2 mt-4">
                <i class="fa fa-user-circle primaryColor fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col mt-4">
                <img src="../assets/agriculture.jpg" alt="Avatar" class="rounded-circle shadow profiles">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <!-- Info -->

        <div class="row">
            <div class="col-1 px-0">
                <p><i class="fa fa-info-circle"></i> Clique ici</p>
            </div>

            <div class="col-1 pl-0 d-flex">
                <p>
                    <i class="fa fa-volume-up primaryColor" aria-hidden="true"></i>
                    <img src="../assets/sound.png" alt="">
                </p>   
            </div>

            <div class="col">
                <p>pour avoir plus d'explications ...</p>   
            </div>
        </div>

        <!-- Instructions -->
        <div class="row">
            <div class="col px-0">
                <p><i class="fas fa-map-marker-alt primaryColor"></i> Cochez une ou plusieurs régions de votre choix <strong id="counter" class="fw-bolder primaryColor">(0)</strong></p>
            </div>
        </div>

        <!-- Locations -->
        <form action="">
            <div id="loc" class="row">
            </div>
        </form>

        <!-- Actions -->
        <div class="row my-4">
            <h5 class="fw-bolder text-center">Que souhaitez-vous faire ?</h5>
        </div>

        <div class="row mb-4">
            <div class="col-3 offset-2">
                <a href="#">
                    <button class="btn btn-outline-light roundPlus action fw-bolder">Acheter <i class="fas fa-plus-circle"></i></button>
                </a>
            </div>

            <div class="col-2">
                <a href="#">
                    <button class="btn btn-outline-light roundPlus action fw-bolder">Vendre <i class="fas fa-plus-circle"></i></button>
                </a>
            </div>

            <div class="col-3 offset-1">
                <a href="#">
                    <button class="btn btn-outline-light roundPlus action fw-bolder">Service <i class="fas fa-plus-circle"></i></button>
                </a>
            </div>
        </div>

    </div>



    <script>
        var regions = ['Dakar','Thiès','Saint-Louis','Diourbel','Kédougou','Matam','Kaffrine','Kaolack','Tambacounda','Louga','Kolda','Fatick','Sédhiou','Ziguinchor'];
        let cards = '';
        let i = 0 ;
        var counter = 0;

        regions.forEach(r => {
        i++;
        cards += `
        <div class="col-lg-3 col-md-4 col-sm-5 mt-2">
              <div class="card roundPlus mouse" onclick="selectedCard('card-${i}')" id=card-${i} style="width: 18rem;">
                  <div class="card-body">
                    <i class="fas fa-map-marker-alt secondaryColor"></i>
                    <input class="float-end" name="${i}" type="checkbox" value="${r}">
                    <h5 class="card-title secondaryColor pt-3">${r}</h5>
                  </div>
              </div>
          </div>
        `
        });

        document.querySelector("#loc").innerHTML = cards;

        function selectedCard(id) {
            if(document.getElementById(id).firstElementChild.children[1].checked == false)
            {
                document.getElementById(id).classList.toggle("selected");
                document.getElementById(id).firstElementChild.lastElementChild.classList.remove('secondaryColor');
                document.getElementById(id).firstElementChild.lastElementChild.classList.toggle('primaryColor');
                document.getElementById(id).firstElementChild.children[1].checked = true;
                selected = true;
                counter ++;
            }
            else {
                document.getElementById(id).firstElementChild.lastElementChild.classList.remove('primaryColor');
                document.getElementById(id).firstElementChild.lastElementChild.classList.toggle('secondaryColor');
                document.getElementById(id).firstElementChild.children[1].checked = false;
                document.getElementById(id).classList.remove("selected");
                selected = false;
                counter --;
            }
            
            document.getElementById("counter").innerHTML = counter;

            if(counter > 0)
            {   
                buttons = document.getElementsByClassName("action");
                for(i = 0; i < buttons.length ; i++)
                {
                    buttons[i].classList.remove("btn-outline-light");
                    buttons[i].classList.add("btn-outline-success");
                }
            }

        }
    </script>
</body>
</html>