@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f5f3f3;
}

.primaryColor{
    color: #4BC313;
}

.secondaryColor{
    color: #7E899D
    ;
}

.round{
    border-radius: 12px;
}

.roundPlus{
    border-radius: 20px;
}

.podcast{
    height: 10em;
    opacity: 0.88;
}

.logo{
    height: 30px;
    width: 80px;
}

.profiles{
    height: 80px;
    width: 80px;
}

.action{
    background-color:#7E899D ;
}

.selected{
    border-color: #4BC313;
}

.mouse{
    cursor: pointer;
}


.card-body img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color : #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
