@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f5f3f3;
}

.primaryColor{
    color: #4BC313;
}

.secondaryColor{
    color: #7E899D
    ;
}

.round{
    border-radius: 12px;
}

.roundPlus{
    border-radius: 20px;
}

.podcast{
    height: 10em;
    opacity: 0.88;
}

.offers{
    height: 20em;
}